<document-history></document-history>
<div ng-controller="landing1">
    landing 1 page {{serviceProp}}
    <input type="text" ng-model="testname">
    <button ng-click="test()">Test</button>
    <div>
        {{price1|convertToDollar}}
    </div>
    <div>
        {{price2|convertToDollar}}
    </div>
    <div>
        {{price3|convertToDollar}}
    </div>
    {{username|toUpperCase}}
    {{location}}

    <table>
        <thead>
            <th>Name</th>
            <th>Age</th>
            <th>Id</th>
        </thead>
        <tbody>
            <tr ng-repeat="stu in students">
                <td>{{stu.Name}}</td>
                <td>{{stu.age}}</td>
                <td>{{stu.userId}}</td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <th>Name</th>
            <th>Age</th>
            <th>Id</th>
        </thead>
        <tbody>
            <tr ng-repeat="stu in students2">
                <td>{{stu.Name}}</td>
                <td>{{stu.age}}</td>
                <td>{{stu.userId}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-controller="landing2">
    landing 2 page  {{pagename}}
    {{username|toUpperCase}}
    <button ng-click="dfjnsf()">sdf</button>{{page}}
</div>


Home page